body {
	margin-left:33%;
	margin-right:33%;
	background:#bbbbbb;
	font-family: "Verdana", sans-serif; 
}

#container{
	background:#dddddd;
	border:1px solid black;
	padding: 20px;
}

#sendbox{
	border:1px solid black;
	background:#eeeeee;
	padding:10px;
}

table
{
	border-collapse:collapse;
	margin: 15px;
	margin-left:20%;
	margin-right:20%;
	padding:0px;
	table-layout:fixed;
}
table, td, th, tr
{
	border:1px solid black;
}
td, tr
{
	padding:10px;
	margin:0px;
}
tr:nth-child(odd){
	background: #ffffff;
}
tr:nth-child(even){
	background: #eeeeee;
}

textarea{
	max-width:100%;
}

h3
{
	text-align:center;
	text-transform: uppercase;
	letter-spacing:10px;
	font-family:"Lucida Console", monospaced, serif;
}