body {
	background-color: white;
	font-family: 'Comic sans', sans-serif;
}

.wrapper {
	max-width: 800px;
	min-width: 200px;
	margin: 10px auto;
	border: 1px solid hsl(100, 0%, 80%);
	box-shadow: 2px 2px 1px #888888;
}

header {
	text-align: center;
	border: 1px solid hsl(100, 0%, 80%);
	box-shadow: 2px 2px 1px #888888;
}
footer {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 8pt;

}

.row {
	margin-bottom: 20px;
}

.onethird {
	float: left;
	width: 28%;
	margin-right: 3%;
	padding: 1%;
	background: #eee;
}

.twothirds {
	float: left;
	width: 61%;
	margin-right: 3%;
	padding: 1%;
	background: #fff;
}

.threethirds {
	width: 94%;
	padding: 1%;
}
table, th, td, tr {
		border: 1px solid black;
		margin-left: 20px;
		padding: 5px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
