body {
	background-color: #00a01a;
	font-family: 'Myriad Pro','Arial', sans-serif;
	font-size: 12pt;
	text-align: justify;
}

p {
margin-bottom: 0px;
}

a:link {
text-decoration: none;
font-family: helvetica;
color: #00a01a;
}

a:visited {
text-decoration: none;
font-family: helvetica;
color: #00a01a;
}


.wrapper {
	max-width: 800px;
	min-width: 200px;
	margin: 10px auto;
	padding:10px;
}

header {
	text-align: center;
	border: 1px solid hsl(100, 0%, 80%);
	background-color: white;
	border-radius: 10px;
}

main {
	border: 1px solid hsl(100, 0%, 80%);
	background-color: white;
	border-radius: 10px;
}

footer {
	margin-top: 20px;
	margin-bottom: 20px; 	
	font-size: 10pt;
	text-align: center;
	border: 1px solid hsl(100, 0%, 80%);
	background-color: white;
	border-radius: 10px;
}
}
table {
	display: table;
}

.masterTooltip{
	padding: 3px;
}

.masterTooltip:focus{
	outline-color: #00a01a;
} 

.input_text{
	padding: 3px;
	margin-bottom: 10px;
	outline: none;
	border-radius: 3px;
	border-style: solid; 
	border-color: #aaa;
	border-width: 1px;
}

.input_text:focus{
	border-color: #00a01a;
}
#form {
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

.onehalf {
	float: left;
	width: 45%;
	margin-right: 3%;
	padding: 1%;
}

.onethird {
	float: left;
	width: 28%;
	margin-right: 3%;
	padding: 1%;
	background: #eee;
}

.twothirds {
	float: left;
	width: 61%;
	margin-right: 3%;
	padding: 1%;
	background: #eee;
}

.threethirds {
	background:#fff;
	width: 94%;
	padding: 1%;
}

.pagination {
	margin-top: 10px;
	text-align: center;
}

/* FÖR STARTSIDAN ONLY */
#startpage {
	background-color: white;
	text-align: center;
	border: 1px solid #000;
	border-radius: 10px;
	padding-bottom: 15px;
}

.Center-Container {
  position: relative;
}

.Absolute-Center {
	max-width: 600px;
	min-width: 200px;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/*STARTSIDAN SLUTAR HÄR */

/* GÄSTBOKEN */
#guestbook_entry{
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 10px;
	border: 1px;
	border-style: solid; 
	border-color: #ccc;	
	border-radius: 10px;
}

.gb_name{
	font-size: 14pt;
	font-weight: bold; 
	margin-bottom: 3px;
}

.gb_timestamp{
	float: right;
	position: relative;
	top: -25px;
	font-style: italic;
	color: #aaa; 
}
.gb_textarea{
	height: 120px;
	width: 80%;
	padding:5px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-color: #aaa;
	resize:none;
}
.gb_textarea:focus 
{
    outline: none !important;
    border:1px solid #;
    border-radius: 10px;
    border-color: #00a01a;
    /*box-shadow: 0 0 10px #00a01a;*/
}	

.list_item{
	margin-bottom: 10px;
	margin-top: 5px;
	min-height: 60px;
	padding: 10px;
	border: 1px;
	border-style: solid; 
	border-color: #ccc;	
	border-radius: 10px;
}

.list_picture{
	position: relative;
	float: left;
	margin: 5px;
}

.list_title{
	font-size: 14pt;
	font-weight: bold; 
	padding-bottom: 25px;	
}

.list_year{
	font-size: 14pt;
	float: right;
	font-style: italic;
	color: #aaa; 

}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#fff;
	border-radius:5px;
	padding:10px;
	color:#000;
	font-size:12px Myriad Pro;
}

table, th, td {
	background-color: #FFFFFF;
	border: 1px solid black;
	border-collapse:collapse;
	margin: 5px;
	padding: 5px;
	display: table-cell;
}
th {
	background-color:#FFFFFF;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
